.flag{
    border: 2px
    
}
.blue{
    background-color: #8ad3f4;
    width: 500px;
    height: 100px;
}
img{
    position: relative;
    height: 100px;
    width: 100px;
    left: 195px;

.white{
    background-color: white;
    width: 500px;
    height: 100px;
}

.blue{
    background-color: #8ad3f4;
    width: 500px;
    height: 100px;
}


}